@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <p>
        Aplicación MVC conectada a un servicio WCF.
    </p>

    <a asp-controller="Dog"
       asp-action="Index"
       class="btn btn-primary">
        Ver perrito del día
    </a>
</div>

// Hecho por Carlos Arturo Moguel Olvera